head{
  background: #f6a3a3;

}
body {
  background: #eaebec;
  padding-top: 100px;
  width: 100%;
}

footer
{
  background: #f6a3a3;
  margin-top: 300px;
}

#chartdiv {
  width: 100%;
  heigh: 500px;
}