#logo{
  background: white;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Arial", serif;
  color: black;
  text-align: center;
}
#content{
  margin-left: 17em;
  padding: 1em;
}
#menu {
  float: left;
  padding: 1em 2em;
  width: 13em;
  min-height: 40em;
  border-right: 2px solid;
}